<div class='books-list'>
  <div *ngIf='!(books$ | async) && !isLoading'>
    Книг нет
  </div>
  <div class='books-list__loader' *ngIf="isLoading">
    Загрузка..
    <i class="pi pi-spin pi-spinner"></i>
  </div>
  <div class='books-list__item' *ngFor='let book of books$ | async'>
    <div class='info'>
        <a [routerLink]="['/books', book.id]">{{book.name}}</a>
        <p-rating 
          [(ngModel)]="book.rate"
        ></p-rating>
    </div>
    <img *ngIf='book?.image' src="{{book?.image}}" width='120px'  height='180px'/>
    <img *ngIf='!book?.image' src='../../../assets/common/img/noImg.png' width='120px' height='120px'/>
  </div>
</div>